@page "/"

<h1 class="ui header">
	Cor
	<span style="color: red">better</span> Maths
</h1>
<h2>
	A better website for
	<em>
		<a href="//corbettmaths.com/contents">
			Corbett Maths
			<i class="external square alternate icon"></i>
		</a>
	</em>
</h2>

@if (IsFetching)
{
	<p>Currently loading and processing CorbettMaths content. This shouldn't take long</p>
	<div class="ui active inline loader"></div>
}
else
{
	<div class="ui input" style="margin-right: 1rem">
		<input @bind="_searchNumber" placeholder="Enter a video number" type="text">
	</div>

	<button class="ui icon labeled button" @onclick="SearchByNum">
		<i class="search icon"></i>
		Search Content by Number
	</button>

	<div class="ui input" style="margin-right: 1rem">
		<input @bind="_searchString" placeholder="Enter a topic" type="text">
	</div>

	<button class="ui icon labeled button" @onclick="SearchByTopic">
		<i class="search icon"></i>
		Search Content by Topic
	</button>

	if (_itemsToShow.Any())
	{
		<p>Here are your delicious maths videos, served hot and fresh from the oven.</p>

		<div class="ui cards">
			@foreach (var itemToShow in _itemsToShow)
			{
				<div class="ui card">
					<div class="content">
						<div class="header">@itemToShow.Topic</div>
						<div class="meta">Video #@itemToShow.Number @(itemToShow.MatchPercent.HasValue ? $", {itemToShow.MatchPercent}% match" : "")</div>
						<div class="description">
							<div class="ui icon buttons">
								<a class="ui button" data-tooltip="Watch Video" href="@itemToShow.VideoUrl" target="_blank">
									<i class="play icon"></i>
								</a>
								<a class="ui button" data-tooltip="Practice Questions" download href="@itemToShow.PracticeQuestionsUrl">
									<i class="pencil alternate icon"></i>
								</a>
								<a class="ui button" data-tooltip="Textbook Exercise" download href="@itemToShow.TextbookExerciseUrl">
									<i class="book open icon"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	}
	else if (_hasSearched)
	{
		<p>Aw crumbs. Your search turned up nothing!</p>
	}
}

@code {
	// FROM VIEW
	private string _searchNumber = "";
	private string _searchString = "";
	
	// TO VIEW
	private bool _hasSearched;
	private bool IsFetching => _searcher == null;
	private Content[] _itemsToShow = Array.Empty<Content>();

	// INTERNAL STATE
	private Searcher? _searcher;

	private void SearchByNum()
	{
		_hasSearched = true;
		_itemsToShow = _searcher!.SearchByNum(_searchNumber);
	}

	private void SearchByTopic()
	{
		_hasSearched = true;
		_itemsToShow = _searcher!.SearchByTopic(_searchString);
	}

	protected override async Task OnInitializedAsync()
	{
		var data = await HtmlParser.ParseUrl("https://corbettmaths.com/contents");
		_searcher = new Searcher(data);
	}

}